#!/usr/bin/env sh

# .xprofile user file
. "$HOME"/.profile

# Xresources
xrdb -merge "${HOME}"/.Xresources

# Starts to window manager bars
export $(dbus-launch)

# Define window manager
export WM=xmonad
