#!/usr/bin/env sh

# .xprofile user file
. "$HOME"/.profile

# Xresources
xrdb -merge "${HOME}"/.Xresources

# Autostart applications
# Starts to window manager bars
export $(dbus-launch)
#emacs --daemon
dunst &


# Define window manager
export WM=xmonad
